header {
    position: absolute;
    top: 40px;
    left: 100px;
    right: 100px;
    padding: 20px;
    border: #ffffff 1px solid;
    border-radius: 50px;
    background-color: rgba(4, 4, 4, 0.5);

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header nav a {
    color: #fffefe;
    text-decoration: none;
    margin: 0 15px;
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    color: #ffffff;
    width: 45px;
    font-size: 20px;

}






